<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!-- TODO: Add <servlet> tags for each servlet here. -->
	<!-- TODO: Add <servlet-mapping> tags for each <servlet> here. -->
	
	<servlet>
	    <servlet-name>channelservlet</servlet-name>
	    <servlet-class>se.ixanon.filmhandler.server.ChannelServiceImpl</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>channelservlet</servlet-name>
	    <url-pattern>/channelconfig/channelservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>fileservlet</servlet-name>
		<servlet-class>se.ixanon.filmhandler.server.FileListServiceImpl</servlet-class>
	</servlet> 
	
	<servlet-mapping>
		<servlet-name>fileservlet</servlet-name>
		<url-pattern>/channelconfig/fileservice</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>upload</servlet-name>
		<servlet-class>se.ixanon.filmhandler.server.FileUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>upload</servlet-name>
		<url-pattern>/fileupload</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>progress</servlet-name>
	    <servlet-class>se.ixanon.filmhandler.server.UploadProgressServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>progress</servlet-name>
	    <url-pattern>/channelconfig/progressService</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
    	<welcome-file>ChannelConfig.html</welcome-file>
  	</welcome-file-list>
	
</web-app>
